[alias]
	ch = checkout
	br = branch
	di = diff
	si = diff --staged
	sh = show
	save = stash push
	load = stash pop
	drop = stash drop
	peek = stash show -p
	list = stash list
	sub = reset @ --
	wipe = reset --hard @
	wipeall = !git reset --hard @ && git clean -fd
	amend = commit --amend
[pager]
	branch = false
[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/usr/bin/gh auth git-credential
[init]
	defaultBranch = master
