[alias]
	cd = checkout
	ls = status
	sub = reset HEAD --
	amend = commit --amend
	wipeout = !git reset --hard @ && git clean -fd
	stiff = diff --staged
[pager]
	branch = false
[credential "https://github.com"]
	helper = !/mingw64/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/mingw64/bin/gh auth git-credential
[init]
	defaultBranch = master
